@model List<DevFolio.Models.TblAbout>
@{
    ViewBag.Title = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Hakkımda kısmına yalnız <b>1</b> veri girişi yapınız.</div>

<h2>Hakkımda Sayfası</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model) 
    { 
    <tr>
        <td>@item.AboutID</td>
        <td>@item.Description</td>
        <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
        <td><a href="/About/UpdateAbout/@item.AboutID" class=" btn btn-success">Güncelle</a></td>
    </tr>
    }
</table>
<br />
<a href="/About/CreateAbout/" class="btn btn-info">Yeni Hakkımda Bilgisi Ekle</a>



