
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Ekle</h2>

<form method="post">
    <label>Hakkımda</label>
    <input type="text" name="Description" class="form-control"/>
    <br />
    <button class="btn btn-info">Hakkımda Bilgisini Kaydet</button>

</form>

