
@{
    Layout = null;
}

<div style="margin-left:100px; margin-right:100px; background-color:antiquewhite">
    <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız Soyadınız</label>
    <input type="text">
    <br />
    <label>Mail Adresiniz</label>
    <input type="email">
    <br />
    <label>Mesaj Konusu</label>
    <input type="text" />
    <br />
    <label>Mesajınız</label>
    <textarea rows="5"></textarea>
    <br />
    <button>Mesajı Gönder</button>
</div>
