
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Özellik Girişi</h2>
<form method="post">
    <label>Başlık</label>
    <input type="text" name="HeaderTitle" class="form-control" />
    <br />
    <label>Özellik</label>
    <input type="text" name="HeaderDescription" class="form-control" />
    <br />
    <button class="btn btn-info">Özellik Bilgisini Kaydet</button>

</form>

