@model DevFolio.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<br />
<form method="post">
    <label>Proje Id</label>
    @Html.TextBoxFor(x => x.ProjectID, new { @class = "form-control" ,@readonly="true"})
    <br />
    <label>Proje Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Proje Kategorisi</label>
    @Html.DropDownListFor(x => x.TblCategory.CategoryID, (List<SelectListItem>)ViewBag.degerler, new { @class = "form-control" })
    <br />
    <label>Proje Kapak Resmi</label>
    @Html.TextBoxFor(x => x.CoverImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Proje Güncelle</button>


</form>


